<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Link Shortener</title>
</head>
<body >
    <main>
        <div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
        <section class="text-gray-400 body-font min-h-screen">
            <div class="container mx-auto flex flex-col px-5 py-32 justify-center items-center">
                <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
                    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Open Source URL Shortener</h1>
                    <% if (locals.error){ %>
                        <p class="text-xl text-red-500"><%= error %></p>
                    <% } %>
                        <form action="/" method="POST" class="flex flex-col w-full justify-center items-center gap-3">
                            <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4 md:w-full text-left">
                                <label for="hero-field" class="leading-7 text-sm text-gray-400">Insert URL</label>
                                <input type="text" placeholder="Enter long link" type="url" name="fullUrl" id="fullUrl" class="border-1 block h-12 w-full rounded-md border border-double border-slate-800 border-transparent bg-[linear-gradient(#000,#000),linear-gradient(to_right,#334454,#334454)]	bg-origin-border px-3 py-2 text-slate-200 transition-all duration-500 [background-clip:padding-box,_border-box] placeholder:text-slate-500 focus:bg-[linear-gradient(#000,#000),linear-gradient(to_right,#c7d2fe,#8678f9)] focus:outline-none"> 
                            </div>
                            <button class="text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:ring-2 hover:ring-neutral-800 hover:bg-blue-700 rounded text-lgrelative inline-flex h-12 items-center justify-center overflow-hidden rounded-md border border-slate-800 bg-gradient-to-r from-slate-900 to-slate-950 px-6 font-medium text-slate-300 shadow-2xl transition-colors focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50" type="submit">Shorten URL</button>
                        </form>
                </div>
                <div class="short-url">
                    <% if (locals.short_url) {%>
                    <a target="_blank" href="<%= short_url %>"><%= short_url %></a>
                    <% } %>
                </div>
            </div>
        </section>
    </main>
</body>
</html>