<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Acortador de Links</title>
</head>
<body >
    <main>
        <section class="text-gray-400 bg-gray-900 body-font min-h-screen">
            <div class="container mx-auto flex flex-col px-5 py-32 justify-center items-center">
                <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
                    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Open Source URL Shortener</h1>
                        <form action="/shortUrl" method="POST" class="flex w-full justify-center items-end">
                            <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4 md:w-full text-left">
                                <label for="hero-field" class="leading-7 text-sm text-gray-400">Insert URL</label>
                                <input type="text" type="url" name="fullUrl" id="fullUrl" class="w-full bg-gray-800 rounded border bg-opacity-40 border-gray-700 focus:ring-2 focus:ring-blue-900 focus:bg-transparent focus:border-blue-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                            <button class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg" type="submit">Shorten URL</button>
                        </form>
                    <p class="text-sm mt-2 text-gray-500 mb-8">ShortURL is a free tool to shorten URLs and generate short links.
                        URL shortener allows to create a shortened link making it easy to share</p>
                </div>
                <% if (locals.error){ %>
                    <p class="error"><%= error %></p>
                <% } %>
                <div class="short-url">
                    <% if (locals.short_url) {%>
                    <a target="_blank" href="<%= short_url %>"><%= short_url %></a>
                    <% } %>
                </div>
            </div>
        </section>
    </main>
</body>
</html>