<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>URL Shortener</title>
</head>
<body >
    <main>
        <div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
        <section class="text-gray-400 body-font min-h-screen">
            <div class="container mx-auto flex flex-col px-5 py-32 justify-center items-center">
                <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center max-w-lg">
                    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Open Source URL Shortener</h1>
                        <div class="relative mr-4 lg:w-full xl:w-full w-2/4 md:w-full text-left">
                            <label for="fullUrl" class="leading-7 text-sm text-gray-400">Insert URL</label>
                            <input type="text" placeholder="Enter long link" type="url" name="fullUrl" id="fullUrl" class="border-1 block h-12 w-full rounded-md border border-double border-slate-800 border-transparent bg-[linear-gradient(#000,#000),linear-gradient(to_right,#334454,#334454)]	bg-origin-border px-3 py-2 text-slate-200 transition-all duration-500 [background-clip:padding-box,_border-box] placeholder:text-slate-500 focus:bg-[linear-gradient(#000,#000),linear-gradient(to_right,#c7d2fe,#8678f9)] focus:outline-none" value="<%= full_url %>"> 
                            <label for="shortUrl" class="leading-7 text-sm text-gray-400">Here is your short URL</label>
                            <input class="border-1 block h-12 w-full rounded-md border border-double border-slate-800 border-transparent bg-[linear-gradient(#000,#000),linear-gradient(to_right,#334454,#334454)]	bg-origin-border px-3 py-2 text-slate-200 transition-all duration-500 [background-clip:padding-box,_border-box] placeholder:text-slate-500 focus:bg-[linear-gradient(#000,#000),linear-gradient(to_right,#c7d2fe,#8678f9)] focus:outline-none" id="shortUrl" value="<%= short_url %>">
                            <div class="flex md:flex-row flex-col gap-2 items-center justify-center mt-2">
                                <button class="mt-2 text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:ring-2 hover:ring-neutral-800 hover:bg-blue-700 rounded text-lgrelative inline-flex h-12 items-center justify-center overflow-hidden rounded-md border border-slate-800 bg-gradient-to-r from-slate-900 to-slate-950 px-6 font-medium text-slate-300 shadow-2xl transition-colors focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 gap-3" onclick="copyUrl()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256"><path fill="currentColor" d="M216 32H88a8 8 0 0 0-8 8v40H40a8 8 0 0 0-8 8v128a8 8 0 0 0 8 8h128a8 8 0 0 0 8-8v-40h40a8 8 0 0 0 8-8V40a8 8 0 0 0-8-8m-56 176H48V96h112Zm48-48h-32V88a8 8 0 0 0-8-8H96V48h112Z"/></svg>Copy
                                </button>
                                <a class="mt-2 text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:ring-2 hover:ring-neutral-800 hover:bg-blue-700 rounded text-lgrelative inline-flex h-12 items-center justify-center overflow-hidden rounded-md border border-slate-800 bg-gradient-to-r from-slate-900 to-slate-950 px-6 font-medium text-slate-300 shadow-2xl transition-colors focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 gap-3" target="_blank" href="<%=short_url %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m21 12l-7-7v4C7 10 4 15 3 20c2.5-3.5 6-5.1 11-5.1V19z"/></svg>Visit URL
                                </a>
                                <button class="mt-2 text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:ring-2 hover:ring-neutral-800 hover:bg-blue-700 rounded text-lgrelative inline-flex h-12 items-center justify-center overflow-hidden rounded-md border border-slate-800 bg-gradient-to-r from-slate-900 to-slate-950 px-6 font-medium text-slate-300 shadow-2xl transition-colors focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 gap-3" onclick="redirectToRoot()">
                                    Shorten Another
                                </button>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
<script>
function copyUrl() {
  /* Obtén el elemento de entrada de texto */
  var texto = document.getElementById("shortUrl");

  /* Selecciona el contenido del campo de texto */
  texto.select();
  texto.setSelectionRange(0, 99999); /* Para dispositivos móviles */

  /* Copia el texto al portapapeles */
  document.execCommand("copy");
}
function redirectToRoot() {
      window.location.href = "/";
    }
</script>